<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testCorner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5812BA721CB3FE9400DB292C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5812BA8B1CB3FE9400DB292C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5812BA961CB3FE9400DB292C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
